<section *ngIf="employee && employee.length; else noRecordFound">
  <div class="container">
    <div class="row">
      <!-- <h6 *ngIf="showName">
        {{formdata?.fullName}} <br>
        {{ formdata?.email}}
      </h6> -->
      <div class="panel panel-primary" *ngFor="let emp of employee;">
        <div (click)="onClickUserPanel(emp.id)">
          <app-display-employee [employees]="emp" (user_id)=" onDelete($event)" ></app-display-employee>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- 
  <div (click)=
  "h3variable.innerHTML = 
  childComponent.getNameandGender()" *ngFor="let emp of employee;">
        <app-display-employee [employees]="emp" (user_id)=" onDelete($event)" #childComponent></app-display-employee>
      </div> -->
<ng-template #noRecordFound>
    <div class="text-center">
      <h2>No record found</h2>
    </div>
</ng-template>