<!-- <section>
  <div class="container">
    <div class="row">
        

     <form (ngSubmit)="onAdd($event)" [formGroup]="userForm" #f="ngForm">

        <div class="col-sm-2">
          <div class="form-group">
            <label for="emp_id">Employee ID:</label>
            <input type="text" class="form-control" id="emp_id" formControlName="emp_id" autocomplete="off">
          </div>
          <div *ngIf="emp_id.invalid && (emp_id.dirty || emp_id.touched)" class=" error_show">
            <div *ngIf="emp_id.errors.required">
              Employee ID is required!!
            </div>
            <div *ngIf="emp_id.errors.pattern">
              Invalid Number!!
            </div>
          </div>
        </div>

        <div class="col-sm-2">
          <div class="form-group">
            <label for="first_name">First Name:</label>
            <input type="text" class="form-control" id="first_name" formControlName="emp_fname" autocomplete="off"
              [pattern]="textPattern">
          </div>
          <div *ngIf="emp_fname.invalid && (emp_fname.dirty || emp_fname.touched)" class="error_show">
            <div *ngIf="emp_fname.errors.required">
              First Name is required!!
            </div>
            <div *ngIf="emp_fname.errors.pattern">
              Only Alphabet Characters are Allowed!!
            </div>

          </div>

        </div>

        <div class="col-sm-2">
          <div class="form-group">
            <label for="last_name">Last Name:</label>
            <input type="text" class="form-control" id="last_name" formControlName="emp_lname" autocomplete="off"
              required>
          </div>
          <div *ngIf="emp_lname.invalid && (emp_lname.dirty || emp_lname.touched)" class="error_show">
            <div *ngIf="emp_lname.errors.required">
              Last Name is required!!
            </div>
            <div *ngIf="emp_lname.errors.pattern">
              Only Apphabet Characters are Allowed!!
            </div>
          </div>
        </div>

        <div class="col-sm-2">
          <div class="form-group">
            <label for="email_id">Email:</label>
            <input type="email" class="form-control" id="email_id" formControlName="emp_mail" autocomplete="off">
          </div>
          <div *ngIf="emp_mail.invalid && (emp_mail.dirty || emp_mail.touched)" class="error_show">
            <div *ngIf="emp_mail.errors.required">
              Name is required.
            </div>
            <div *ngIf="emp_mail.errors.pattern">
              Email Patern mismatch!!
            </div>
          </div>
        </div>

        <div class="col-sm-2">
          <div class="form-group">
            <label for="phone">Phone Number:</label>
            <input type="text" class="form-control" id="phone" formControlName="emp_phone" autocomplete="off">
          </div>

          <div *ngIf="emp_phone.invalid && (emp_phone.dirty || emp_phone.touched)" class="error_show">
            <div *ngIf="emp_phone.errors.required">
              Mobile Number is required!!
            </div>
            <div *ngIf="emp_phone.errors.pattern">
              Invalid Number!!
            </div>

            <div *ngIf="emp_phone.errors.maxlength">
              Maxmimum length is 10!!
            </div>

            <div *ngIf="emp_phone.errors.minlength">
              Minimum length is 10!!
            </div>


          </div>
        </div>

        <div class="col-sm-2">
          <div class="form-group">
            <label for="department">Department:</label>
            <input type="text" class="form-control" id="department" formControlName="emp_depart" autocomplete="off">
          </div>
          <div *ngIf="emp_depart.invalid && (emp_depart.dirty || emp_depart.touched)" class="error_show">
            <div *ngIf="emp_depart.errors.required">
              Department Name is required!!
            </div>
            <div *ngIf="emp_depart.errors.pattern">
              Only Apphabet Characters are Allowed!!
            </div>
          </div>
        </div>

        <button type="submit" class="btn btn-primary" [disabled]="!userForm.valid || editMode">ADD</button>
        <button class="btn btn-primary" [disabled]="!editMode" (click)="onUpdate()">UPDATE</button>
      </form> 

      <form action="" [formGroup]="employeeform">
        <div class="col-sm-12">
          <div class="form-group" [ngClass]="{'has-error': formErrors.fullname}">
            <label for="full_name">Full Name:</label>
            <input (blur)="loginValidationError()" type="text" class="form-control" id="full_name"
              formControlName="fullname" autocomplete="off">
          </div>
          <span class="help-block" *ngIf="formErrors.fullname">
            {{ formErrors.fullname }}
          </span>
        </div>

        <div formArrayName="skill" *ngFor="let skill of employeeform.get('skill').controls; let i = index">
          <div [formGroupName]="i">
            <div class="col-sm-12">
              <hr *ngIf="i>0">
              <h2>Skills: </h2>
              <div class="form-group">
                <label [for]="'skillName' + i">Skill Name:</label>
                <input type="text" (blur)="loginValidationError()" [id]="'skillName' + i" class="form-control"
                  formControlName="skillName" placeholder="Enter Any Skill" autocomplete="off">
                <button (click)="deleteSkill(i)" *ngIf="employeeform.get('skill').length > 1"
                  class="btn btn-danger delete_skill"><span class="glyphicon glyphicon-remove"></span></button>
                <span class="help-block"
                  *ngIf="skill.get('skillName').errors?.required && skill.get('skillName').touched">
                  Skill Name is required!!
                </span>
                <label [for]="'skillYears' + i">Skill Years</label>
                <input type="number" (blur)="loginValidationError()" [id]="'skillYears' + i" class="form-control"
                  formControlName="skillYears" placeholder="Skill Years..." autocomplete="off"
                  (keydown)="number($event)">
                <span class="help-block"
                  *ngIf="skill.get('skillYears').errors?.required && skill.get('skillYears').touched">
                  Skill Years is required!!
                </span>
              </div>


            </div>
          </div>
        </div>


        <div class="form-group col-sm-12">
          <button class="btn btn-primary" (click)="addSkillButton()" [disabled]="employeeform.get('skill').invalid">Add
            More Skill</button>
        </div>


        <div class="col-sm-12">
          <div class="form-group">
            <label for="phone_number">Phone:</label>
            <input type="number" (blur)="loginValidationError()" (keydown)="number($event)" class="form-control"
              id="phone_number" formControlName="phone" autocomplete="off">
          </div>
          <span class="help-block" *ngIf="formErrors.phone">
            {{ formErrors.phone }}
          </span>
        </div>

        <button class="btn btn-primary">Save</button>
        <button class="btn btn-primary" (click)="onDataadd()">Load Data</button>
      </form>
    </div>

    <div>
      <table class="table">
        <thead>
          <tr>
            <th>S.No</th>
            <th>Name</th>
            <th>Skill</th>
            <th>Phone</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let employee of list; let i = index">
            <td>{{ employee.id }}</td>
            <td>{{ employee.fullName }}</td>
            <td *ngFor="let skill of employee.skilss"> Skill Name => {{skill.skillName}}
               <br> Skill Year => {{ skill.experinceinskill }} 
               </td>
            <td>{{ employee.phone }}</td>
            <td class="text-center"><button class="btn btn-primary" (click)="editEmp(employee, i)"> <span class="glyphicon glyphicon-pencil"></span></button></td>
            <td class="text-center">
              <button class="btn btn-danger"><span
                class="glyphicon glyphicon-trash"></span></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div> -->

<!-- <div *ngIf="userDetails && userDetails.length; else noRecord">
      <hr>
      <table class="table">
        <thead>
          <tr>
            <th>SI.No</th>
            <th>Employee Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Department</th>
            <th>Delete</th>
            <th>Edit</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let user of userDetails; let i= index">
            <td>{{ i + 1 }}</td>
            <td>{{user.emp_id}}</td>
            <td>{{user.emp_fname  | uppercase }}</td>
            <td>{{user.emp_lname | uppercase}}</td>
            <td>{{user.emp_mail}}</td>
            <td>{{user.emp_phone}}</td>
            <td>{{user.emp_depart}}</td>
            <td><button class="btn btn-danger edit_btn" (click)=" onDelete(i)"><span
                  class="glyphicon glyphicon-trash"></span></button></td>
            <td><button class="btn btn-info edit_btn" (click)="onEditMode(user, i)">
                <span class="glyphicon glyphicon-pencil"></span>
              </button></td>
          </tr>
        </tbody>
      </table>

</div>

    <ng-template #noRecord>
      <div class="text-center">
        <h2>No record found</h2>
      </div>
    </ng-template> -->
<!-- <app-list-employees></app-list-employees> -->
<!-- <router-outlet></router-outlet> -->

<!-- </div>
  </div>
</section> -->

<section>
  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li routerLinkActive="active"><a routerLink="list">List</a></li>
      <li routerLinkActive="active"><a routerLink="create">Create</a></li>
    </ul>
  </div>
</nav>
<div class="container">
    <div class="row">
        <router-outlet></router-outlet>
    </div>
</div>
</section>
