/* You can add global styles to this file, and also import other style files */
.image_user{
    width: 214px;
    height: 185px;
}
.panel-heading {
    color: #fff;
    background-color: #337ab7;
    border-color: #337ab7;
}
.delete{
    margin-left: 10px
}