/* You can add global styles to this file, and also import other style files */
.image_user{
    width: 150px;
    height: 150px;
}
.panel-heading {
    color: #fff;
    background-color: #337ab7;
    border-color: #337ab7;
}
.delete{
    margin-left: 10px
}
.horizontal_line{
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid black;
}